:root {
  --font-light12: 300 0.75rem Noto Sans KR;
  --font-light16: 300 1rem Noto Sans KR;
  --font-bold16: 700 1rem Noto Sans KR;
  --font-bold20: 700 1.25rem Noto Sans KR;
  --font-bold24: 700 1.5rem Noto Sans KR;
  --color0: #ffffff;
  --color1: #f2f2f6;
  --color2: #8c8c8c;
  --color3: #222222;
  --color-main: #ff4264;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color2);
}

main {
  position: relative;
  width: 400px;
  min-height: 100%;
  background-color: var(--color1);
  padding-top: 3rem;
}

@media (max-width: 430px) {
  main {
    width: 100%;
    min-height: 100%;
  }
}
